@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Serif:opsz@8..144&display=swap');
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}
.navbar{
    background: crimson; 
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    height: 60px;
    padding-bottom: 10px;
}
.logo a{
    font-size: 25px; 
    font-weight: 200px; 
    color: white;
    padding-left: 35px;  
}
li{
    list-style: none; 
    display: inline-block;
}
li a{
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 25px;
    display: flex;
    padding-right: 30px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
button{
    background-color: white; 
    
    margin-left: 10px; 
    border-radius: 10px; 
    padding: 10px; 
    width: 126px;
}
button a{
    color: black; 
    font-weight: bold; 
    font-size: 15px;
}

.img{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220212/pngtree-dynamic-team-of-professionals-organizing-clothing-donations-in-a-box-with-creativity-photo-image_29409862.jpg");
    background-size: cover; 
     background-position: center;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* .donation{
    background-color: darkblue;
    padding-top: 6rem;
}
.donation .humanity{
    color: orangered;
    text-align: center;
    display: block;
}
.donation-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2rem 10vw;
    align-items: start;
    /* margin-bottom: 100px; */
/* }
.donation-list .list{
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid rgb(226, 216, 216);
    border-radius: 5px;
}  */
    /* body {
        font-family: Arial, sans-serif;
        margin: 20px;
        text-align: center;
    } */

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  dialog {
    max-width: 500px;
    margin-left: 30%;
    border: none;
    overflow-x: hidden;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.7);
    /* position: ; */
    padding: 10px;  
    border-radius: 0 0 8px 8px;

  }

  #open {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 100%;
  }
  #close{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 100%;
    margin-top: 10px;
  }

  #open:hover {
    background-color:lightgreen;
}
#close:hover {
    background-color:lightgreen;
}


.services{
    background-color: #FBFBFB;
    padding-top: 6rem;
}
.services .service{
    color: #14BF98;
    text-align: center;
    display: block;
}
.services h1{
    text-align: center;
    color: darkorange;
}
.service-list-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2rem 10vw;
    align-items: start;
    margin-bottom: 100px;
    
}
.services .service-list-container .item{
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid rgb(226, 216, 216);
    border-radius: 20px;
    /* border-color: black; */
}
.services .item img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0 0;
    border-color: wheat;
}
.services .item ul{
    line-height: 2rem;
    list-style-type: none;
    padding: 0.5rem 2rem;
    color: gray;
}
.services .item ul li::before{
    content: '\25A0';
    color: #14BF98;
    margin-right: 5px;
    font-size: 1rem;
}
.services .item h4{
    text-align: center;
    font-size: 1.5rem;
    color: #484A46;
    padding: 1rem 0;
}
.services .item p{
    line-height: 1.5rem;
    padding: 0.5rem 2rem;
    color: gray;
}
.services .item h6{
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 2rem;
}
.services h6 .price{
    color: #14BF98;
}
.item button{
    cursor: pointer;
    background-color: #14BF98;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white;
    border: 1px solid #14BF98;
    transition: all 0.125s ease-in-out;
}
.item button{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%,50%);
}
.item button:hover{
    background-color: white;
    color: #14BF98;
}
footer{
    padding: 5rem 13rem;
    background-color: #113448;
}
.footer-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    /* align-items: center; */
    gap: 4rem;
}
.footer-sec .footer-item.words{
    width: 45%;
    flex-grow: 0;
    flex-shrink: 0;
}
.footer-sec .footer-item{
    width: 15%;
    flex-grow: 0;
    flex-shrink: 0;
}
.footer-sec ul{
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
}
.footer-sec ul,.footer-sec p{
    line-height: 1.5rem;
    font-size: 14px;
    font-weight: 100;
    color: #cacfc1;
}
.footer-sec h3{
    font-weight: 800;
    line-height: 1.2rem;
}
footer .copyright{
    padding-top: 5rem;
    color: white;
    text-align: center;
    line-height: 1.5rem;
    color: #cacfc1;
    font-size: 15px;
}
.logo-1{
    width: 105px;
    border-radius: 50%;
}
.email .email-us{
    color: white;
}
.spark{
    display: inline;
}